@page {
    size: auto;
}

body {
    margin: 8px;
}

th {
    vertical-align: middle !important;
    text-align: center;
}

.price {
    text-align: right;
}

.section {
    text-align: center;
}

.unit {
    width: 1px;
}

.column {
    width: 50%;
    float: left;
    margin-top: 8px;
    margin-bottom: 24px;
}

.selectors {
    flex-grow: 1;
    text-align: right;
    padding: 14px;
}

.document_selectors > * {
    margin-left: 8px;
}

a.selected {
    font-weight: bold;
}

@media print {
    body {
        margin: 0px;
    }

    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    .rightColumn {
        width: 45% !important;
    }

    .leftColumn {
        width: 55% !important;
    }

    .selectors {
        display: none;
    }

    canvas {
        max-width: 100%;
        width: auto !important;
    }
}
